<div class="main">
  <section id="portfolio">
      <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
                <br>
                <h2>Create Applicant</h2>
                <hr class="star-primary">
            </div>
          </div>
          <div class="box box-primary">
            <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
              <h3> I-A. Personal Information </h3>
              <br>
              <!-- Start of Form Group Name -->
              <div formGroupName="name">
                <div class="row form-group">
                  <label class="col-sm-2 col-sm-offset-2 col-form-label"> Last Name *</label>
                  <div class="col-sm-5">
                    <input class="form-control" type="text" formControlName="lastname"> 
                  </div>
                  <div class="col-sm-3">
                      <div *ngIf="userForm.controls['name'].controls['lastname'].hasError('required')" class="error-message">
                        Please enter a lastname
                      </div>
                      <div *ngIf="userForm.controls['name'].controls['lastname'].hasError('minlength')" class="error-message">
                        Please enter aleast 4 characters.
                      </div>
                      <div *ngIf="userForm.controls['name'].controls['lastname'].hasError('maxlength')" class="error-message">
                        Lastname must not exceed 25 characters.
                      </div>
                      <div *ngIf="userForm.controls['name'].controls['lastname'].hasError('pattern')" class="error-message">
                        Invalid format.
                      </div>
                  </div>
                </div>
                <div class="row form-group">
                  <label class="col-sm-2 col-sm-offset-2 col-form-label"> First Name * </label>
                  <div class="col-sm-5">
                    <input class="form-control" type="text" formControlName="firstname">
                  </div>
                  <div class="col-sm-3">
                      <div *ngIf="userForm.controls['name'].controls['firstname'].hasError('required')" class="error-message">
                        Please enter a firstname 
                      </div>
                      <div *ngIf="userForm.controls['name'].controls['firstname'].hasError('minlength')" class="error-message">
                        Please enter aleast 4 characters.
                      </div>
                      <div *ngIf="userForm.controls['name'].controls['firstname'].hasError('maxlength')" class="error-message">
                        Firstname must not exceed 25 characters.
                      </div>
                      <div *ngIf="userForm.controls['name'].controls['firstname'].hasError('pattern')" class="error-message">
                        Invalid format.
                      </div>
                  </div>
                </div>
                <div class="row form-group">
                  <label class="col-sm-2 col-sm-offset-2 col-form-label"> Middle  Name </label>
                  <div class="col-sm-5">
                    <input class="form-control" type="text" formControlName="middlename">
                  </div>
                  <div class="col-sm-3">
                      <div *ngIf="userForm.controls['name'].controls['middlename'].hasError('minlength')" class="error-message">
                        Please enter aleast 4 characters.
                      </div>
                      <div *ngIf="userForm.controls['name'].controls['middlename'].hasError('maxlength')" class="error-message">
                        Middlename must not exceed 25 characters.
                      </div>
                      <div *ngIf="userForm.controls['name'].controls['middlename'].hasError('pattern')" class="error-message">
                        Invalid format.
                      </div>
                  </div>
                </div>
                <div class="row form-group">
                  <label class="col-sm-2 col-sm-offset-2 col-form-label"> Name Extension </label>
                  <div class="col-sm-5">
                    <input class="form-control" type="text" formControlName="nameextension">
                  </div>
                  <div class="col-sm-3">
                      <div *ngIf="userForm.controls['name'].controls['nameextension'].hasError('maxlength')" class="error-message">
                        Name extension must not exceed 2 characters.
                      </div>
                  </div>
                </div>
              </div>
              <!-- End of Form Group Name -->

              <!--<div class="row form-group">
                <label class="col-sm-2 col-sm-offset-2 col-form-label"> Gender *</label>
                <div class="col-sm-5">
                   <input class="form-control" type="text" formControlName="gender">
                </div>
              </div>
              <div class="row form-group">
                <label class="col-sm-2 col-sm-offset-2 col-form-label"> Birthday *</label>
                <div class="col-sm-5">
                  <input class="form-control" type="date" formControlName="birthday">
                </div>
              </div>
              <div class="row form-group">
                <label class="col-sm-2 col-sm-offset-2 col-form-label"> Birth Place *</label>
                <div class="col-sm-5">
                  <input class="form-control" type="text" formControlName="birthplace">
                </div>
              </div>-->
              <!-- Start of Contact Information Form Group -->
              <div formGroupName="contactInformation">
                <h3>I-B. Contact Information</h3>
                <div class="row form-group">
                  <label class="col-sm-2 col-sm-offset-2 col-form-label"> Email Address </label>
                  <div class="col-sm-5">
                    <input class="form-control" type="email" formControlName="emailaddress">
                  </div>
                    <div *ngIf="userForm.controls['contactInformation'].controls['emailaddress'].hasError('required')" class="error-message">
                      Please enter a Email Address
                    </div>
                    <div *ngIf="userForm.controls['contactInformation'].controls['emailaddress'].hasError('pattern')" class="error-message">
                      Invalid format.
                    </div>
                </div>
                <div class="row form-group">
                  <label class="col-sm-2 col-sm-offset-2 col-form-label"> Cellphone Number </label>
                  <div class="col-sm-5">
                    <input class="form-control" type="text" formControlName="cellphone">
                  </div>
                  <div *ngIf="userForm.controls['contactInformation'].controls['cellphone'].hasError('pattern')" class="error-message">
                      Invalid format.
                    </div>
                </div>
                <div class="row form-group">
                  <label class="col-sm-2 col-sm-offset-2 col-form-label"> Residential Address *</label>
                  <div class="col-sm-5">
                    <input class="form-control" type="text" formControlName="residentialAddress">
                  </div>
                  <div *ngIf="userForm.controls['contactInformation'].controls['residentialAddress'].hasError('required')" class="error-message">
                      Please enter a Residential Address
                  </div>
                  <div *ngIf="userForm.controls['contactInformation'].controls['residentialAddress'].hasError('minlength')" class="error-message">
                      Please enter aleast 4 characters.
                  </div>
                  <div *ngIf="userForm.controls['contactInformation'].controls['residentialAddress'].hasError('maxlength')" class="error-message">
                      Middlename must not exceed 100 characters.
                  </div>
                  <div *ngIf="userForm.controls['contactInformation'].controls['residentialAddress'].hasError('pattern')" class="error-message">
                      Invalid format.
                  </div>
                </div>
                <div class="row form-group">
                  <label class="col-sm-2 col-sm-offset-2 col-form-label"> Permanent Address *</label>
                  <div class="col-sm-5">
                    <input class="form-control" type="text" formControlName="permanentAddress">
                  </div>
                  <div *ngIf="userForm.controls['contactInformation'].controls['permanentAddress'].hasError('required')" class="error-message">
                      Please enter a Permanent Address
                  </div>
                  <div *ngIf="userForm.controls['contactInformation'].controls['permanentAddress'].hasError('minlength')" class="error-message">
                      Please enter aleast 4 characters.
                  </div>
                  <div *ngIf="userForm.controls['contactInformation'].controls['permanentAddress'].hasError('maxlength')" class="error-message">
                      Middlename must not exceed 100 characters.
                  </div>
                  <div *ngIf="userForm.controls['contactInformation'].controls['permanentAddress'].hasError('pattern')" class="error-message">
                    Invalid format.
                  </div>
                </div>
              </div>
              <!-- End of Contact Information Form Group -->

              <!-- Start of Educational Background -->
              <h3>II. Educational Background</h3>
              <br>
              <h4> Elementary </h4>
              <br>
              <!-- Start of Elementary Education Form Group -->
                <div formGroupName="elementaryEducation">
                  <div class="row form-group">
                    <label class="col-sm-2 col-sm-offset-2 col-form-label"> Name of School *</label>
                    <div class="col-sm-5">
                      <input class="form-control" type="text" formControlName="eNameOfSchool">
                    </div>
                    <div *ngIf="userForm.controls['elementaryEducation'].controls['eNameOfSchool'].hasError('required')" class="error-message">
                        Please enter a Name of School
                    </div>
                    <div *ngIf="userForm.controls['elementaryEducation'].controls['eNameOfSchool'].hasError('minlength')" class="error-message">
                      Please enter aleast 4 characters.
                    </div>
                    <div *ngIf="userForm.controls['elementaryEducation'].controls['eNameOfSchool'].hasError('maxlength')" class="error-message">
                        Middlename must not exceed 50 characters.
                    </div>
                    <div *ngIf="userForm.controls['elementaryEducation'].controls['eNameOfSchool'].hasError('pattern')" class="error-message">
                      Invalid format.
                    </div>
                  </div>
                  <div class="row form-group">
                    <label class="col-sm-2 col-sm-offset-2 col-form-label"> Year Graduated *</label>
                    <div class="col-sm-5">
                      <input class="form-control" type="text" formControlName="eYearGraduated">
                    </div>
                    <div *ngIf="userForm.controls['elementaryEducation'].controls['eYearGraduated'].hasError('required')" class="error-message">
                        Please enter a Name of School
                    </div>
                    <div *ngIf="userForm.controls['elementaryEducation'].controls['eYearGraduated'].hasError('pattern')" class="error-message">
                      Invalid format.
                    </div>
                  </div>
                  <div class="row form-group">
                    <label class="col-sm-2 col-sm-offset-2 col-form-label"> Scholarship/ Academic Honors Received </label>
                    <div class="col-sm-5">
                      <input class="form-control" type="text" formControlName="eHonor">
                    </div>
                  </div>
                </div>
                <!-- End of Elementary Education Form Group -->
                <br>
                <h4> Secondary </h4>
                <br>
                <!-- Start of Secondary Education Form Group -->
                <div formGroupName="secondaryEducation">
                  <div class="row form-group">
                    <label class="col-sm-2 col-sm-offset-2 col-form-label"> Name of School *</label>
                    <div class="col-sm-5">
                      <input class="form-control" type="text" formControlName="sNameOfSchool">
                    </div>
                    <div *ngIf="userForm.controls['secondaryEducation'].controls['sNameOfSchool'].hasError('required')" class="error-message">
                        Please enter a Name of School
                    </div>
                    <div *ngIf="userForm.controls['secondaryEducation'].controls['sNameOfSchool'].hasError('minlength')" class="error-message">
                      Please enter aleast 4 characters.
                    </div>
                    <div *ngIf="userForm.controls['secondaryEducation'].controls['sNameOfSchool'].hasError('maxlength')" class="error-message">
                        Middlename must not exceed 50 characters.
                    </div>
                    <div *ngIf="userForm.controls['secondaryEducation'].controls['sNameOfSchool'].hasError('pattern')" class="error-message">
                      Invalid format.
                    </div>
                  </div>
                  <div class="row form-group">
                    <label class="col-sm-2 col-sm-offset-2 col-form-label"> Year Graduated *</label>
                    <div class="col-sm-5">
                      <input class="form-control" type="text" formControlName="sYearGraduated">
                    </div>
                    <div *ngIf="userForm.controls['secondaryEducation'].controls['sYearGraduated'].hasError('required')" class="error-message">
                        Please enter a Name of School
                    </div>
                    <div *ngIf="userForm.controls['secondaryEducation'].controls['sYearGraduated'].hasError('pattern')" class="error-message">
                      Invalid format.
                    </div>
                  </div>
                  <div class="row form-group">
                    <label class="col-sm-2 col-sm-offset-2 col-form-label"> Scholarship/ Academic Honors Received </label>
                    <div class="col-sm-5">
                      <input class="form-control" type="text" formControlName="sHonor">
                    </div>
                  </div>
                </div>
                <!-- End of Secondary Education Form Group -->

                <!-- Start of College Education Form Group -->
                <h4> College </h4>
                <br>
                <div formGroupName="collegeEducation">
                  <div class="row form-group">
                    <label class="col-sm-2 col-sm-offset-2 col-form-label"> Name of School *</label>
                    <div class="col-sm-5">
                      <input class="form-control" type="text" formControlName="cNameOfSchool">
                    </div>
                    <div *ngIf="userForm.controls['collegeEducation'].controls['cNameOfSchool'].hasError('required')" class="error-message">
                        Please enter a Name of School
                    </div>
                    <div *ngIf="userForm.controls['collegeEducation'].controls['cNameOfSchool'].hasError('minlength')" class="error-message">
                      Please enter aleast 4 characters.
                    </div>
                    <div *ngIf="userForm.controls['collegeEducation'].controls['cNameOfSchool'].hasError('maxlength')" class="error-message">
                        Middlename must not exceed 50 characters.
                    </div>
                    <div *ngIf="userForm.controls['collegeEducation'].controls['cNameOfSchool'].hasError('pattern')" class="error-message">
                      Invalid format.
                    </div>
                  </div>
                  <div class="row form-group">
                    <label class="col-sm-2 col-sm-offset-2 col-form-label"> Year Graduated *</label>
                    <div class="col-sm-5">
                      <input class="form-control" type="text" formControlName="cYearGraduated">
                    </div>
                    <div *ngIf="userForm.controls['collegeEducation'].controls['cYearGraduated'].hasError('required')" class="error-message">
                        Please enter a Name of School
                    </div>
                    <div *ngIf="userForm.controls['collegeEducation'].controls['cYearGraduated'].hasError('pattern')" class="error-message">
                      Invalid format.
                    </div>
                  </div>
                  <div class="row form-group">
                    <label class="col-sm-2 col-sm-offset-2 col-form-label"> Scholarship/ Academic Honors Received </label>
                    <div class="col-sm-5">
                      <input class="form-control" type="text" formControlName="cHonor">
                    </div>
                  </div>
                </div>
                <!-- End of College Education Form Group -->

              <!-- End of Educational Background Form Group -->
              
              <!-- Start of Other Information -->
              <h3> III. Other Information </h3>
              <br>
              <div class="row form-group">
                <label class="col-sm-2 col-sm-offset-2 col-form-label"> Special Kills/Hobbies </label>
                <div class="col-sm-5">
                  <input class="form-control" type="text" formControlName="hobbies">
                </div>
              </div>
              <hr>
              <!-- End of Other Information -->

              <div class="row">
                <div class="col-sm-2 col-sm-offset-5">
                     <button type="submit" [disabled]="!userForm.valid" class="btn btn-primary"> Add </button>
                     <button class="btn btn-default" type="button"> Cancel </button>
                </div>
              </div>
            </form>
            <br>
            <hr>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <td> Last Name </td>
                  <td> First Name </td>
                  <td> Middle Name </td>
                  <td> Name Extension </td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td> {{lastname}} </td>
                  <td> {{firstname}} </td>
                  <td> {{middlename}} </td>
                  <td> {{nameextension}} </td>
                </tr>
              </tbody>
            </table>
            <!--<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                <div class="row form-group">
                  <label class="col-sm-2 col-sm-offset-2 col-form-label"> Name *</label>
                  <div class="col-sm-5">
                    <input class="form-control" type="text" #refName formControlName="name"> 
                    <b> {{refName.className}} </b>
                  </div>
                  <div class="col-sm-3">
                    <div *ngIf="userForm.controls['name'].hasError('required')" class="error-message">
                       Please enter a name 
                    </div>
                    <div *ngIf="userForm.controls['name'].hasError('minlength')" class="error-message">
                      Please enter aleast 4 characters.
                    </div>
                    <div *ngIf="userForm.controls['name'].hasError('maxlength')" class="error-message">
                      Name must not exceed 25 characters.
                    </div>
                  </div>
                </div>
                <div class="row form-group">
                  <label class="col-sm-2 col-sm-offset-2 col-form-label"> Email *</label>
                  <div class="col-sm-5">
                    <input class="form-control" type="text" formControlName="email"> 
                  </div>
                </div>
                <div formGroupName="address">
                  <div class="row form-group">
                    <label class="col-sm-2 col-sm-offset-2 col-form-label"> Street *</label>
                    <div class="col-sm-5">
                      <input class="form-control" type="text" formControlName="street"> 
                    </div>
                  </div>
                  <div class="row form-group">
                    <label class="col-sm-2 col-sm-offset-2 col-form-label"> City *</label>
                    <div class="col-sm-5">
                       <input class="form-control" type="text" formControlName="city">  
                    </div>
                  </div>
                  <div class="row form-group">
                    <label class="col-sm-2 col-sm-offset-2 col-form-label"> Postal Code *</label>
                    <div class="col-sm-5">
                      <input class="form-control" type="text" formControlName="postalcode"> 
                    </div>
                    <div class="col-sm-3">
                      <div *ngIf="userForm.controls['address'].controls['postalcode'].hasError('pattern')" class="error-message">
                        Postal Code format is five digits
                      </div>
                    </div>
                  </div>
                </div>
                <button type="submit" [disabled]="!userForm.valid" class="btn btn-primary"> Submit </button>
            </form>-->
          </div>
      </div>
  </section>
</div>
